html {
  height: 100vh;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
}

body {
  height: 100vh;
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
}

:root {
  --third-party-color: #ff60fb;
  --builtin-color: #74b859;
  --circular-color: #ff5656;
}

#root,
.root-container {
  height: 100vh;
  width: 100%;
}

#skott-network {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgb(241 244 244) 0%,
    #63acff47 100.2%
  );
}

#skott-sidebar {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  height: 95%;
  top: 0px;
  outline: 0px;
  left: 0px;
  width: 16rem;
  background-color: rgb(255, 255, 255);
  margin: 1rem 0px 1rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
}

.disabled-by-default {
  opacity: 0.5;
  pointer-events: none;
}

.blur-loading {
  opacity: 0.5;
  transition: 0.1s all;
  pointer-events: none;
}

.explorer-options {
  width: 90%;
  margin: 0 auto;
}

kbd {
  align-items: center;
  background: #ffd349;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  color: black;
  display: flex;
  height: 18px;
  justify-content: center;
  padding: 0 0 2px;
  position: relative;
  top: -1px;
}

.kbd-left {
  width: 30px;
  margin-right: 0.5em;
}

.kbd-right {
  width: 20px;
  margin-left: 0.5em;
}

.kbd-option {
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
}

.kbd-option:hover {
  transform: scale(1.2);
}

ninja-keys {
  --ninja-width: 640px;
  --ninja-overflow-background: rgba(0, 0, 0, 0.7);
  --ninja-text-color: rgb(36, 38, 40);
  --ninja-accent-color: rgb(29, 152, 255);
  --ninja-secondary-background-color: rgb(239, 241, 244);
  --ninja-selected-background: rgb(223, 233, 255);
  --ninja-modal-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
  --ninja-actions-height: 300px;
  --ninja-group-text-color: rgb(3, 118, 213);
  --ninja-placeholder-color: #8e8e8e;
  --ninja-z-index: 1;
}

.explorer-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.explorer-options > div {
  margin-bottom: 20px;
}

.options-container {
  background: #f8f8f8;
  padding-top: 15px;
  height: 100%;
}

.options-container > div {
  margin-bottom: 20px;
}

.options-container-header {
  font-size: 1.05em;
  font-weight: 500;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.skott-stats {
  margin: 0 auto;
  width: 90%;
}

.options-container > hr {
  border: 1px solid #e5e5e5;
  margin: 25px 0px;
}

.skott-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0;
  transition: 0.2s all;
  padding: 3px;
  border-radius: 5px;
}

.skott-stats > section > span {
  margin-left: 3px;
  font-weight: 500;
  font-size: 1.1em;
}

.skott-stats-tooltip {
  font-size: 0.7em;
  color: #454545;
  font-weight: 300;
  transition: 0.1s all;
}

.skott-stats-container:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transform: scale(1.1);
}

.skott-stats-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.skott-stats-container > div > .tall-icons {
  max-width: 25px;
  height: fit-content;
}

.skott-stats-container > div > .wide-icons {
  width: 45px;
}

.skott-actions > div {
  margin-top: 25px;
}

.skott-stats-value {
  font-size: 1.05em;
  font-weight: 500;
}

div.skott-logo {
  text-align: center;
}

#skott-logo {
  width: 60%;
  margin: 0 auto;
}

.checkbox {
  display: none;
}

.option-selector {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.option-label {
  font-size: 0.9em;
}

.checkbox-container {
  width: 100%;
}

#checkbox-label {
  position: absolute;
  top: 50%;
  right: 0;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background-color: #2497ff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 3px 7px #0086ff;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color,
    0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(0, 0, 0, 0.44);
}

#checkbox-label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 17.5px;
  height: 17.5px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #c5dff6;
  transition: 0.2s ease width, 0.2s ease height;
  border: 1px solid black;
}

#checkbox-label:hover:before {
  width: 13.5px;
  height: 13.5px;
  box-shadow: inset 0 7px 10px #c5dff6;
}

#checkbox-label:active {
  transform: translateY(-50%) scale(0.9);
}

.tick-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  left: -4px;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  margin-left: 7px;
  transform: rotateZ(-40deg);
}

.tick-mark:before,
.tick-mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.tick-mark:before {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 8px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
  transform: translateY(-30px);
}

.tick-mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
  transform: translateX(0px);
}

.check-third-party:checked + #checkbox-label {
  background-color: var(--third-party-color);
  box-shadow: 0 3px 10px var(--third-party-color);
}

.check-builtin:checked + #checkbox-label {
  background-color: var(--builtin-color);
  box-shadow: 0 3px 10px var(--builtin-color);
}

.check-circular:checked + #checkbox-label {
  background-color: var(--circular-color);
  box-shadow: 0 3px 10px var(--circular-color);
}

.checkbox:checked + #checkbox-label:before {
  width: 0;
  height: 0;
}

.checkbox:checked + #checkbox-label .tick-mark:before,
.checkbox:checked + #checkbox-label .tick-mark:after {
  transform: translate(0);
  opacity: 1;
}
