html {
  height: 100vh;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
}

body {
  height: 100vh;
  margin: 0;
}

canvas {
  height: 100%;
  width: 100%;
}

:root {
  --third-party-color: #ff60fb;
  --builtin-color: #74b859;
  --circular-color: #ff5656;
}

#root,
.root-container {
  height: 100vh;
  width: 100%;
}

#skott-network {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgb(241 244 244) 0%,
    #63acff47 100.2%
  );
}

kbd {
  align-items: center;
  background: #ffd349;
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  color: black;
  display: flex;
  height: 18px;
  justify-content: center;
  padding: 0 0 2px;
  position: relative;
  top: -1px;
}

.kbd-left {
  width: 30px;
  margin-right: 0.5em;
}

.kbd-right {
  width: 20px;
  margin-left: 0.5em;
}

.kbd-option {
  display: flex;
  cursor: pointer;
  transition: all 0.2s;
}

.kbd-option:hover {
  transform: scale(1.2);
}

ninja-keys {
  --ninja-width: 640px;
  --ninja-overflow-background: rgba(0, 0, 0, 0.7);
  --ninja-text-color: rgb(36, 38, 40);
  --ninja-accent-color: rgb(29, 152, 255);
  --ninja-secondary-background-color: rgb(239, 241, 244);
  --ninja-selected-background: rgb(223, 233, 255);
  --ninja-modal-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
  --ninja-actions-height: 300px;
  --ninja-group-text-color: rgb(3, 118, 213);
  --ninja-placeholder-color: #8e8e8e;
  --ninja-z-index: 1;
}

/** Mantine overrides **/

.mantine-Accordion-content {
  padding-left: 0.4rem;
}

.mantine-Accordion-chevron {
  margin-right: 2px;
}

.mantine-Accordion-content {
  padding-bottom: 0;
  padding-right: 0;
}

.mantine-Accordion-label {
  padding: 0;
}
