name: Skott Continuous Integration

on:
  push:
    branches: main
  pull_request:

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  skott:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18.x, 20.x]
        os: [ubuntu-latest, windows-latest, macos-14]
      fail-fast: false
   
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Enable pnpm
        run: corepack enable

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install         

      - name: Build project
        run: pnpm -r build

      # - name: Run unit tests
      #   run: pnpm -r test:unit

      # - name: Run integration tests
      #   run: pnpm -r test:integration  
      #   env:
      #     CI: true

      - name: Run benchmarks
        if: matrix.os == 'ubuntu-latest'
        run: |
          pnpm -r benchmark
          git config --local user.name "skott_bot"
          git config --local user.email "skott.devtool@gmail.com"
          git status
          git add .
          git commit -m "benchmark: publish benchmark results from node_${{ matrix.node-version }}"
          git pull origin ${{ github.head_ref }} --rebase
          git checkout --theirs .
          git add .
          git push origin HEAD:${{ github.head_ref }}
        env: 
          CI: true
          NODE_VERSION: ${{ matrix.node-version }}
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REF: ${{ github.head_ref }}


  